#calendar {
  width: 100%;
  height: 100%;
  max-height: 90vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  padding: 2%;
  border-radius: 8px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  gap: 10px;
}

.calendar-container {
  background-color: #f6eee9;
  backdrop-filter: blur(10px);
}

.header {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.days-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 7px;
}

.day.selected.work {
  background-color: rgba(54, 170, 255, 0.5);
  outline: none;
}

/*.day.selected.highlighted {
  transition: background-color 0.9s ease;
  background-color: #fe17b4;
  outline: none;
}*/
.day.highlighted {
  background: linear-gradient(90deg, red, orange, yellow, moccasin);
  background-size: 400% 400%;
  animation: rainbowGradient 3s ease infinite;
  border: 1px solid moccasin;
}

@keyframes rainbowGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.day.selected.off {
  background-color: rgba(55, 255, 78, 0.5);
  border: 1px dashed green;
}

.duty {
  border: 2px dot-dash silver;
}

.duty.work {
  background-color: #36aaff;
}

.duty.off {
  background-color: #37ff4e;
}




.day {
  width: 7vw;
  height: 6vh;
  cursor: pointer;
  border-radius: 4px;
  background-color: #f7f7f7;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 4vh;
  outline: none;
  user-select: none;
  position: relative;
}

.day:active {
  outline: none;
}

.day:focus {
  outline: none;
}

.day.held-down {
  transition: transform 0.9s ease, background-color 0.9s ease, font-size 0.9s ease;
  background-color: #565d64;
  outline: none;
}


.emoji-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  place-items: center;
  align-content: center;
  background-color: lightgray;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.emoji-container span {
  font-size: 30px;
  transition: transform 0.9s ease, box-shadow 0.2s ease, background-color 0.6s ease;
  padding: 5px;
  border-radius: 50%;
}

.emoji-container span:hover {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

.selected {
  background-color: lightblue;
  border: 2px solid blue;
}

.day.off-selected {
  background-color: #37ff4e;
  outline: none;
}

.day.work-selected {
  background-color: #36aaff;
  outline: none;
}

.extra-column {
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: min-content;
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
  height: 100%;
  /*max-height: 85vh;*/
}

.trash-icon {
  position: absolute;
  top: 50%;
  cursor: pointer;
  opacity: 0;
  transition: transform 0.6s ease, box-shadow 0.2s ease, background-color 0.6s ease;
  z-index: 10;
}

.day:hover .trash-icon {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.2);
  box-shadow: 0 0 10px #111;
  border-radius: 15px;
}

.overlap-warning {
  background-color: red !important;
  animation: blink 0.5s step-end 6 alternate;
}

/* Styl dla półprzezroczystego tła */
.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Ciemne tło z przezroczystością */
  backdrop-filter: blur(5px); /* Efekt rozmycia */
  z-index: 999; /* Na wierzchu zawartości strony */
}

/* Styl dla modala */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); /* Efekt uniesienia */
  padding: 20px;
  width: 400px;
  z-index: 1000; /* Nad warstwą backdrop */
}

/* Ukrycie modala i backdrop */
.hidden {
  display: none;
}

/* Stylizacja zawartości modala */
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}
