
.radio-input .label input {
  display: none;
}
/*.radio-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
}*/

.radio-input {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  align-items: center;
  width: 100%;
  height: fit-content;
  gap: 10px;
  padding: 10px;
}

.radio-input .label {
  display: inline-block;
}

.radio-input .label .check {
  width: 30px;
  height: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: 3px solid transparent;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5),
  -1px -1px 4px rgba(255, 255, 255, 0.5);
}


.radio-input .label input:checked + .check {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5),
  -1px -1px 4px rgba(255, 255, 255, 0.5),
  inset 3px 3px 6px rgba(0, 0, 0, 0.5),
  inset -1px -1px 4px rgba(255, 255, 255, 0.5);
  transform: scale(1.1);
}

.radio-buttons-container{
  padding: 10px;
  align-items: center;
}

span{
  margin: 5px;
}

.periods{
  margin: 0;
}

.flight-card {
  position: relative;
  display: inline-block;
  border-style: solid;
  border-color: #888888;
  border-radius: 8px;
  background-color: #908f8f;
}

.flight-card-content {
}

.flight-card h3 {
  margin: 5px 0;
  font-size: 17px;
}

.flight-card p {
  margin: 3px 0;
  font-size: 15px;
}

.flight-card-tooltip {
  visibility: hidden;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.flight-card:hover .flight-card-tooltip {
  visibility: visible;
  opacity: 1;
}

.flight-card-tooltip::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.tooltip-top {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 10px;
}

.tooltip-top::after {
  bottom: auto;
  top: 100%;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}
