.flight-card {
  position: relative;
  display: inline-block;
  border-style: solid;
  border-color: #888888;
  border-radius: 8px;
  background-color: #908f8f;
}

.flight-card-content {
}

.flight-card h3 {
  margin: 5px 0;
  font-size: 12px;
}

.flight-card p {
  margin: 3px 0;
  font-size: 10px;
}

.flight-card-tooltip {
  visibility: hidden;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.flight-card:hover .flight-card-tooltip {
  visibility: visible;
  opacity: 1;
}

.flight-card-tooltip::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.tooltip-top {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 10px;
}

.tooltip-top::after {
  bottom: auto;
  top: 100%;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}
