
.layout-frame {
  display: flex;
  align-items: center;
  flex-direction: column; /*main axis */
  border-style: solid;
  justify-content: space-between;
  background-color: #33e6ff;
  border-radius: 20px;
/*  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;*/

}


.layout-flex-container {
  justify-content: center;
  background-color: lightgray;
  width: 200px;
  height: 50px;
  font-size: 10px;
  text-align: center;
  border-style: solid;
  border-color: white;
  display: flex;
  align-items: center;


}

.layout-flex-container:nth-child(5) {
  background-color: lightpink;
  display: flex;
  flex-direction: column;
}

.layout-flex-container:nth-child(5) :nth-child(2) {
  display: flex;
}


.button-right {
  display: flex;
  justify-content: center;
  width: 100%;
}

/*flex: 1 100px;
flex-flow: row wrap;*/

