body {
  font-size: 2vw;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.layout-title,
.layout-desc {
  display: inline-block;
}

.picture-container {
  display: flex; /* Makes the child .layout-pic elements align horizontally */
  justify-content: space-between; /* Adds space between the containers */
  flex-wrap: wrap; /* Allows wrapping to the next line if necessary */
  gap: 2vw; /* Adds space between the .layout-pic elements */
  padding: 2vw;
  width: 90vw; /* Makes the container take up 90% of the viewport width */
  max-width: 1200px; /* Limits the maximum width for readability */
  margin: 2vh auto; /* Centers the container vertically and horizontally */
}

.btns-container {
  display: inline-block;
}

.layout-pic{
  display: flex;
  flex: 1 1 45%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vw;
  width: 80vw;
  max-width: 1200px;
  margin: 2vh auto;
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);

}

.content-layout, .info-block, .button-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Stack items vertically */
  margin: 1vh 0;
}

.layout-body {
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.layout-text {
  vertical-align: top;
  margin: 0;
  /*font-size: 3vw; */
  font-size: 0.8rem;

}

.profile-pic, .channel-pic {
  width: 4vw; /* Responsive width */
  border-radius: 50%; /* Ensures a circular shape */
  margin: 1vh; /* Adds spacing */
}

@media (max-width: 600px) {
  body {
    font-size: 3vw; /* Larger font size for smaller screens */
  }

  .layout-pic {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    width: 90vw; /* Adjusts width for smaller screens */
  }

  .img-schedule, .profile-pic {
    width: 80%; /* Larger width for smaller screens */
    margin: 1vh auto; /* Center elements and add vertical margin */
  }

  .btn-subs, .btn-join, .btn-git {
    width: 100%; /* Full width buttons on smaller screens */
    margin: 1vh 0; /* Adds vertical spacing */
  }

  .search-bar {
    width: 90%; /* Full width search bar on smaller screens */
  }
}

/*display inline-block*/
/* paragraphs are by default block elements */
