.search-bar {
  font-size: 1.2vw; /* Scales with viewport width */
  padding: 1vw; /* Responsive padding */
  color: #33e6ff;
  border-radius: 7px;
  border-style: solid;
  border-color: #ccc; /* Added border color for consistency */
  width: 80%; /* Responsive width */
  box-sizing: border-box;
}

.search-bar:hover {
  opacity: 0.6;
}
