* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-layout {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  padding: 20px;
  /*max-height: 100vh;
  height: 100vh;
  width: 100vw;*/
  width: 100%;
}


.column-left {
  display: grid;
  grid-template-rows: 70vh auto;
  gap: 10px;
  max-height: 95vh;
}

.column-right {
  display: grid;
  /*grid-template-rows: auto auto;*/
  grid-auto-rows: auto;
  background-color: #565d64;
  border-radius: 8px;
  color: white;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  min-height: auto;
  height: 100vh;
  max-height: 95vh;
  gap: 2%;
}
